################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/learnsummitsummitv1/FileContentIndex/9b1d14f4-26cd-4b44-b7a7-30b44353371d.vsidx
/.vs/learnsummitsummitv1/FileContentIndex/read.lock
/.vs/learnsummitsummitv1/FileContentIndex/4da519d4-bd57-458b-81fe-982c691a34f8.vsidx
/.vs/learnsummitsummitv1/v17/.suo
/.vs/learnsummitsummitv1/FileContentIndex/d864a19a-068e-465e-a2cd-2043a0028ac9.vsidx
/.vs/learnsummitsummitv1/FileContentIndex
/.vs
